<form
  [formGroup]="employeeForm"
  (ngSubmit)="onSubmit()"
  class="form-horizontal"
>
  <div class="panel panel-primary p-5">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee Form</h3>
    </div>
    <div class="panel-body">
      <div class="form-group d-flex" [ngClass]="{'has-error' : formErrors.fullName}">
        <label class="col-sm-2 control-labely" for="fullName">Full Name</label>
        <div class="col-sm-8">
          <input
            id="fullName"
            formControlName="fullName"
            type="text"
            class="form-control"
            placeholder="John"
            (blur)="logValidatorErrors()"
          />
          <!-- <label>{{fullNameLength}}</label> -->
          <span  class="help-block" *ngIf="formErrors.fullName">
        {{formErrors.fullName}}
        </span>
        </div>
      </div>

      <div class="form-group d-flex" [ngClass]="{'has-error' : formErrors.lastName}">
        <label class="col-sm-2 control-label" for="fullName">Last Name</label>
        <div class="col-sm-8">
          <input
            id="fullName"
            formControlName="lastName"
            type="text"
            class="form-control"
            placeholder="Cena"
            (blur)="logValidatorErrors()"
          />
          <span *ngIf="formErrors.lastName">
            {{formErrors.lastName}}
          </span>
        </div>
      </div>

      <div class="form-group d-flex"[ngClass]="{'has-error': formErrors.email}">
        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-8">
          <input
            id="email"
            formControlName="email"
            type="text"
            class="form-control"
            placeholder="JohnCena@Ucan'tseeME"
            (blur)="logValidatorErrors()"

          />
          <span *ngIf="formErrors.email">
            {{formErrors.email}}
          </span>
        </div>
      </div>

      <div class="form-group d-flex" [ngClass]="{'has-error': formErrors.contactNumber}">
        <label class="col-sm-2 control-label" for="email">Mob No</label>
        <div class="col-sm-8">
          <input
            id="email"
            formControlName="contactNumber"
            type="text"
            class="form-control"
            placeholder="1234567890"
            (blur)="logValidatorErrors()"

          />
          <span *ngIf="formErrors.contactNumber">
            {{formErrors.contactNumber}}
          </span>
        </div>
      </div>

      <div formGroupName="skills">
        <div class="form-group d-flex">
          <label class="col-sm-2 control-label" for="skillName"> Skill </label>
          <div class="col-sm-4 pe-3">
            <input
              type="text"
              class="form-control"
              id="skillName"
              placeholder="Name"
              formControlName="skillsName"
            (blur)="logValidatorErrors()"
            />
          </div>

          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              placeholder="Experience In Years"
              formControlName="experienceInYears"
              (blur)="logValidatorErrors()"

            />
          </div>
        </div>

        <!-- <div class="form-group d-flex ">
          <label class="col-md-2 control-label">Language known</label>

          <input class="" type="checkbox" id="angular" name="angular" value="Bike">
          <label class="spc" for="angular"> Angular</label>
         
          <input class="ms-3" type="checkbox" id="ionic" name="ionic" value="Bike">
          <label class="spc" for="ionic"> Ionic</label>
         
          <input class="ms-3" type="checkbox" id="html" name="html" value="Bike">
          <label class="spc" for="html"> HTML</label>
          
          <input class="ms-3" type="checkbox" id="css" name="css" value="Bike">
          <label class="spc" for="css"> CSS</label>
        </div> -->

        <div class="form-group d-flex ">
          <label class="col-md-2 control-label">Proficiency</label>
          <div class="col-md-8 d-flex">
            
            <input
              id="beginner"
              type="radio"
              value="beginner"
              name="proficiency"
              formControlName="proficiency"

            />
            <label for="beginner" class="radio-inline pe-3 spc ">
              Beginner
            </label>

            <input
              id="intermediate"
              type="radio"
              value="intermediate"
              name="proficiency"
              formControlName="proficiency"
            />
            <label for="intermediate" class="radio-inline pe-3 spc">
              Intermediate
            </label>

            <input
              id="advanced"
              type="radio"
              value="advanced"
              name="proficiency"
              formControlName="proficiency"
            />
            <label for="advanced" class="radio-inline pe-3 spc">
              Advanced
            </label>
          </div>
        </div>

      </div>
      

    </div>
    <div class="class-footer">
      <div class="btn-toolbar pb-1">
      <button class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-primary ms-1" type="button" (click)="onLoadDataClick()">Data</button>
      </div>
    </div>
  </div>
</form>
