.panel-primary{
    background-color: rgb(242, 186, 83);
    text-align: center;
    padding-left: 200px;
    border-radius: 10px;
    border:1px solid;
    box-shadow: 5px 8px #9b9797; 
}
/* 
.panel-body{
    text-align: center;
    padding-left: 40%;

} */
.form-group{
    padding: 5px 0px;
}

.spc{
    margin-left: 3px; 
}

span{
    color: red;
}